<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Watchlist</title>
</head>
<body>
  <h1>WatchList</h1>
    <ul>
      <% videos.forEach(video => { %>
        <li>
          <%= video.videoType %>
          - 
          <a href="/videos/<%= video._id %>"><%= video.title %></a>
          - 
          <%= video.watched ? 'Watched' : 'Want to watch'%>
        </li>
      <% }) %>
    </ul>
    <a href="/videos/new"><button>Add a Video</button></a>
</body>
</html>