<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Video to Watchlist</title>
</head>
<body>
  <h1>Add Video to Watchlist</h1>
  <form autocomplete="off" action="/videos" method="post">
    <input required placeholder="Video type (movie, series,..)" type="text" name="videoType"><br>
    <input required placeholder="Video Title" type="text" name="title"><br>
    <button type="submit">Add</button>
  </form>
</body>
</html>